*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
gradle/
gradlew*
hs_err_pid3608.log
hs_err_pid4648.log
hs_err_pid5612.log
hs_err_pid15652.log
replay_pid5612.log